@import '../../utils/constants.scss';

.message-area-container {
  overflow-y: auto;
  max-height: calc(100vh - 200px);
  .message-area-box {
    display: flex;
    justify-content: flex-end;
    margin: 10px;

    &.isMe {
      justify-content: flex-start;

      .message-from {
        background-color: $secondcolor;
      }
    }

    &:first-of-type {
      margin-top: 20px;
    }
    &:last-of-type {
      margin-bottom: 20px;
    }
    .img-message {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
      margin: 0 20px;
    }
    .message-from {
      background-color: #a1a1a1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      color: #e5f2fe;
      max-width: 40%;
      padding: 20px;
      .message-contint {
        font-size: 17px;
        align-self: flex-start;
      }
      .sent-date-seen-icon {
        display: flex;
        align-items: center;
        // justify-content: flex-end;
        width: 100%;
        .seen-icon {
          width: 15px;
          fill: #e5f2fe;
          height: 15px;
          margin-right: 10px;
          // height: 14px;
        }
        .sent-date {
          font-size: 14px;
        }
      }
    }
  }
  // .message-area-box.sender {
  //   display: flex;
  //   align-items: center;
  //   // justify-content: flex-end;
  //   margin: 10px;
  //   &:first-of-type {
  //     margin-top: 20px;
  //   }
  //   &:last-of-type {
  //     margin-bottom: 20px;
  //   }
  //   .img-message {
  //     width: 60px;
  //     height: 60px;
  //     border-radius: 50%;
  //     object-fit: cover;
  //     margin: 0 20px;
  //   }
  //   .message-from.sender {
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //     align-items: center;
  //     border-radius: 20px;
  //     color: #e5f2fe;
  //     width: 40%;
  //     padding: 20px;
  //     .message-contint {
  //       font-size: 17px;
  //     }
  //     .sent-date-seen-icon {
  //       display: flex;
  //       align-items: center;
  //       justify-content: flex-end;
  //       width: 100%;
  //       .seen-icon {
  //         width: 15px;
  //         fill: #e5f2fe;
  //         height: 15px;
  //         margin-right: 10px;
  //         // height: 14px;
  //       }
  //       .sent-date {
  //         font-size: 14px;
  //       }
  //     }
  //   }
  // }
}
